/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

img,
svg {
  display: block;
}
/* || VARIABLES */
:root {
  --main-clr: #35977F;
  --card-bg: #EAF4F1;
  --accent-clr: #7855FF;
  --highlight-clr: #55ADFF;
  --text-clr: #3A3A3A;
  --light-gray-clr: #F2F2F2;
  --black: #000;
  --bg-clr: #FCFCFC;

  /* || FONT SIZE */
  --fs-btn: 15px;
  --fs-dpt: 16px;
  --fs-h1: 25px;
  --fs-h2: 20px;
  --fs-h3: 18px;
  --fs-cardTxt: 16px;
  --fs-footer-links: 20px;
  --fs-partners: 14px;
}

/* || UTILITY */
body{
  background-color: var(--bg-clr);
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
  line-height: 48px;
}
h4,
.testimony {
  font-size: var(--fs-cardTxt);
  line-height: 36px;
}
h4,
.description {
 color: var(--text-clr);
}
.description,
.user-occupation {
  font-weight: 500;
  line-height: 28px;
  font-size: var(--fs-dpt);
}
.partners {
  font-size: var(--fs-partners);
}
button {
  font-size: var(--fs-btn);
  cursor: pointer;
}
footer,
.step-description {
  font-size: var(--fs-footer-links);
  line-height: 28px;
}

/* || NAV */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
}

.nav-bar {
  display: none;
  align-items: center;
  gap: .5rem;
}

.nav-links {
  display: flex;
  gap: .5rem;
  list-style: none;
}

.nav-links li a{
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover,
.nav-links li a:focus {
  color: var(--main-clr);
}

.log_in-button {
  border: none;
  padding: 15px 1.5rem;
  border-radius: 2rem;
  font-weight: 700;
  background-color: var(--light-gray-clr);
}

.get_started-button {
  padding: 15px 2rem;
  border-radius: 2rem;
  border: none;
  color: white;
  font-weight: 700;
  background-color: var(--main-clr);
}

.menu {
  display: none;
}

/* || MAIN */
main {
  padding: 5rem 3rem 2rem;
}
.landingT {
  text-align: center;
}

.landingT .heading {
  line-height: 4rem;
  margin-inline: auto;
}

.landingT .description {
  margin: 2rem 0;
}

.download {
  display: inline-block;
  position: relative;
  color: var(--light-gray-clr);
}

.download button {
  border: 2px solid var(--light-gray-clr);
  background-color: white;
  font-weight: 700;
  padding: 15px 1.5rem 1rem 5.5rem;
  border-radius: 2rem;
}

.download img,
.download .divider {
  position: absolute;
}

.download .divider {
  top: 10px;
  left: 50px;
  font-size: 25px;
}

.download .apple {
  top: 15px;
  left: 30px;
}

.download .playstore {
  top: 17px;
  left: 60px;
}

.hero {
  width: 100%;
  margin-top: 5.5rem;
}

/* || PARTNERS */
.partners {
  text-align: center;
  background-color: var(--light-gray-clr);
  padding: 3.5rem;
}

.partners_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 7rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.highlight {
  color: var(--highlight-clr);
  font-weight: 500;
}

/* || CALL TO INVEST */
.call-to-invest {
  text-align: center;
  padding: 4rem;
}

.invest_rewards {
  display: grid;
  gap: 2rem;
  text-align:left;
  padding-top: 5rem;
}

.invest_rewards .hero1 {
  display: none;
  border-radius: 2rem;
}

.invest_rewards-text img {
  width: 60px;
}
.invest_rewards-text .py-sm {
  margin: 2rem 0;
}

.invest_reward {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* || STEPS TO INVEST */
.steps-to-invest {
  padding: 1rem;
}

.steps {
  display: grid;
  gap: 2rem;
  padding: 4rem 0;
}

.step-card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 6.5rem 1rem 1rem;
  background-color: var(--light-gray-clr);
  border-radius: 1rem;
}

.step-card {
  font-weight: 500;
}

.step-text h4{
  margin-bottom: 1rem;
}

.steps-to-invest .hero3 {
  width: 100%;
}

/* || SAFETY POLICY*/
.safety-policy{
  padding: 3rem 0;
}

.safetyT {
  text-align: center;
  padding-inline: 1rem;
}

.safetyT .description {
  margin-top: 1rem;
}

.safety-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
  margin-top: 5rem;
}

.safety-cards .description {
  color: #000;
}

.safety-card {
  background-image: url('./Images/protect-card-bg.svg');
  background-color: var(--card-bg);
  border-radius: 2rem;
  padding: 2rem;
}

.safety-card img {
  margin-left: 1rem;
}

.safety-cardT h3 {
  margin: 6rem 0 2rem;
  color: var(--text-clr);
}

.pb-md h3 {
  margin-top: 3rem;
}

/* || TRACK RECORD*/
.track-record {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-evenly;
  padding: 3rem 0;
  text-align: center;
}

.track-records {
  display: grid;
  gap: 1rem;
}

.record {
  border: 2px solid var(--light-gray-clr);
  border-radius: 1rem;
  width: 95%;
  margin: auto;
  padding: 1rem;
}

.record img {
  padding: 1rem;
  border-radius: 50%;
  margin: auto;
}

.bg-card {
  background-color: var(--card-bg);
}

.bg-blue {
  background-color: hsla(209, 100%, 67%, 0.2);
}

.px {
  display: grid;
  place-content: center;
  text-align: center;
  padding: .5rem;
  background-image: url('./Images/major_countries-bg.svg');
}

.px .px-wide {
  padding: 1rem 6rem;
  border-radius: 1.5rem;
  background-color: hsla(245, 100%, 97%, 1);
}

/* || TESTIMONIALS */
.testimonials {
  display: grid;
  gap: 2rem;
}
.testimonialsT {
  text-align: center;
  padding-inline: 1rem;
}

.testimonialCards {
  display: grid;
  grid-template-columns: repeat(2, 100%);
  gap: 2rem;
  padding-inline: 1rem;
  overflow: hidden;
}

.testimonialCard {
  border: 2px solid var(--light-gray-clr);
  border-radius: 2rem;
  padding: 1rem 2rem;
  display: grid;
  color: var(--text-clr);
  background-image: url('./Images/testimonial_card_bg.svg');
}

.testimonialCard .testimony{
  color: #000;
}

.my-lg {
  margin-top: .5rem;
}

.testimonial-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.testimonial-buttons button {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border: 2px solid var(--light-gray-clr);
  background-color: white;
}

.testimonial-buttons button:hover {
  background-color: #3A3A3A;
}

.testimonial-buttons button:hover img {
  filter: invert(100%);
}

/* || COMMUNITY */
.community {
  text-align: center;
  padding: 3rem;
}

.community .description {
  margin: 2rem 0;
}

.community img {
  margin-top: 4rem;
  width: 100%;
}

/* || FOOTER */
footer {
  padding: 3rem 2rem;
  display: grid;
  gap: 2rem;
}
.footerTop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.join_kebble {
  display: grid;
  gap: 2rem;
}

.join_kebble p {
  font-weight: 500;
}

.join_kebble .download-button {
  display: flex;
  gap: 1rem;
}

.download-button button {
  border: none;
  background-color: transparent;
}

.download-button button img {
  width: 100%;
}

.footerTop h4 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: var(--main-clr)
}

.footerTop ul {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footerTop li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.footerTop li a:hover,
.footerTop li a:focus{
  color: var(--main-clr);
}

.contact .social {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: 2rem;
}

.contact .social  a{
  background-color: var(--text-clr);
  padding: .5rem;
  border-radius: 50%;
}

.contact .social .px-sm {
  padding-inline: .8rem;
}

.contact .social .p-md {
  padding: .6rem;
}

.contact a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.contact a:hover,
.contact a:focus {
  color: var(--main-clr);
}
.contact a {
  color: #000;
  text-decoration: none;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--light-gray-clr);
}

/* || MOBILE */
@media screen and (max-width: 500px) {
  main {
    padding: 1rem;
  }
  .partners_logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .span-2 {
    grid-column: span 2;
    margin: auto;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }
  .join_kebble {
    display: grid;
    place-content: center;
    grid-column: span 2;
    text-align: center;
  }
  .contact {
    grid-column: span 2;
    display: grid;
    place-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .landingT .heading {
    line-height: 2rem;
  }
  .menu {
    display: block;
    font-size: 2rem;
    border: none;
    background-color: transparent;
  }
}

/* || TABLET */
@media screen and (min-width: 768px) {
  :root {
    --fs-btn: 15px;
    --fs-dpt: 24px;
    --fs-h1: 50px;
    --fs-h2: 30px;
    --fs-h3: 28px;
    --fs-cardTxt: 14px;
    --fs-footer-links: 20px;
    --fs-partners: 14px;
  }
  /* || NAV */
  .nav-bar {
    display: flex;
  }
  .nav-links {
    margin-right: 1rem;
  }
  /* || MAIN */
  .landingT .heading {
    inline-size: 700px;
  }
  .safety-cards {
    padding-inline: 3rem;
  }
  .testimonialCards {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 3rem;
  }
  .testimonialCard {
    gap: 2rem;
  }
  .footerTop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* || LAPTOP */
@media screen and (min-width: 1024px) {
  :root {
    /* || FONT SIZE */
    --fs-btn: 15px;
    --fs-dpt: 24px;
    --fs-h1: 68px;
    --fs-h2: 48px;
    --fs-h3: 40px;
    --fs-cardTxt: 28px;
    --fs-footer-links: 20px;
    --fs-partners: 14px;
  }
  .navigation {
    padding: 1rem 3rem;
  }
  .nav-links {
    margin-right: 2rem;
    gap: 3rem;
  }
  .landingT .heading {
    inline-size: 900px;
  }
  .invest_rewards {
    grid-template-columns: repeat(2, 1fr);
  }
  .invest_rewards .hero1 {
    display: block;
    width: 100%;
  }
  .steps-to-invest {
    padding: 3rem 5rem;
  }
  .steps {
    grid-template-columns: repeat(2, 1fr);
  }
  .safety-cards {
    flex-direction: row;
  }
  .safetyT .description {
    inline-size: 900px;
    margin: auto;
  }
  .track-record {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  .track-records {
    grid-template-columns: repeat(2, 1fr);
  }
  .record {
    padding-right: 7rem;
    width: auto;
    margin: 0;
  }
  .record img {
    margin: 0;
  }
  .px {
    grid-column: span 2;
  }
  .community .description {
    inline-size: 900px;
    margin-inline: auto;
  }
  .footerTop {
    grid-template-columns: repeat(4, 1fr);
  }
}